# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
env/

# Visual Studio
.vs/
*.suo
*.user
*.sln.docstates

# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Yedekler ve hassas dosyalar
*.bak
*~
credentials.json
config.backup.*